*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.html text eol=lf
*.py text eol=lf
*.toml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.lock
CODEOWNERS text eol=lf
LICENSE text eol=lf
data/raw/enron/source/enron_mail_20150507.tar.gz filter=lfs diff=lfs merge=lfs -text
